@import "./variables";
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  margin: auto;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

#root {
  margin-bottom: $footer-size; /* .footer height */
  min-height: 100%;
}

.logo {
  height: 70px;
  width: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-size; /* #root margin-bottom */
  background-color: $footer-color;
  color:#4b4c4d!important;
  padding-top: 7.5vh;
  opacity:0.8;

  .social {
    text-align: center;

    a {
      padding-right: 15px;
    }

    a:hover{
      opacity:1
    }
  }

  .footercontent {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2%;

    ul {
      padding-right: 60px;

      a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
  
      a:hover {
        opacity:1;
      }
    }
  }
  

  

}
