@import "./variables";
@import "bootstrap/dist/css/bootstrap.min.css";


html {
  position: relative;
  min-height: 100%;
}

#root {
  min-height: 100%;
  font-family: $font!important;
}

.logo {
  height: 70px;
  width: 70px;
}

.socialicon:hover{
  scale: 1.3;
}

.buttoncustom{
  text-decoration: none;
  background-color: $primary;
  border-color: $primary;
  color:$secondary;

  &:hover{
    background-color: $secondary;
    color: $primary;
    transition: 1s;
  }

  &:focus,
  &:visited {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }
}

.navbarlink{
  font-size: 25px!important;
  text-decoration: none!important;
  color: darkred!important;
  background-image: linear-gradient(darkred, darkred);
  background-size: 0 2px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.navbarlink:hover{
  font-size: 28px!important;
  background-size: 100% 2px, auto;
}

.home {
  min-height: 100%;
}

.titlecustom{
  font-size: 50px!important;
  color: darkred;
  font-weight: bold;
}

.JumbotronDisplay{
  background-image: url(../assets/images/vue-de-la-pointe-de-penn.jpg);
  background-size: cover;
  min-height: 600px;
  min-width: 100%;
  text-align: center;
  font-family: $font!important;

  #expodate{
    font-size: 40px!important;
  }

  #expoplace{
    font-size: 40px!important;
  }
}

.CarouselDsiplay{
  box-shadow: 10px 10px 10px darkgray;
}

.PdfFile{
  margin-left:5%;
  margin-right: 5%;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: $footer-color;
  color:#4b4c4d!important;
  padding-top: 7.5vh;
  opacity:0.8;
  font-family: $font!important;

  .footerlink{
    font-size: 15px!important;
    text-decoration: none!important;
    color: darkred!important;
    background-image: linear-gradient(darkred, darkred);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
  }

  .footerlink:hover{
    font-size: 18px!important;
    background-size: 100% 1px, auto;
  }
}

@media screen and (max-width: 600px) {
  .navbarlink {
    font-size: 15px!important;
  }

  .navbarlink:hover{
    font-size: 17px!important;
  }

  #buttonlanguage{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .titlecustom{
    font-size: 25px!important;
  }

  .JumbotronDisplay{
    #expodate{
      font-size: 20px!important;
    }
    #expoplace{
      font-size: 20px!important;
    }
  }

  .PdfFile{
    font-size: 12px;
    
    #formtitle{
      font-size: 16px;
    }
  }
}