@import "./variables";
@import "bootstrap/dist/css/bootstrap.min.css";


html {
  position: relative;
  min-height: 100%;
}

#root {
  min-height: 100%;
  font-family: $font!important;
}

.logo {
  height: 70px;
  width: 70px;
}

.home {
  min-height: 100%;
}

.JumbotronDisplay{
  background-image: url(../assets/images/vue-de-la-pointe-de-penn.jpg);
  background-size: cover;
  min-height: 600px;
  min-width: 100%;
  text-align: center;
  font-family: $font!important;
}

.PdfFile{
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: $footer-color;
  color:#4b4c4d!important;
  padding-top: 7.5vh;
  opacity:0.8;
  font-family: $font!important;
}
